extends layout 

block content
    if user
        p Welcome back #{user.fullname}
    else
        div.row.container-fluid
            div.col-sm-6.card.border-0
                div.card-body
                    h4.card-title Post title
                    p.card-text Card message goes here 
                    a.card-link(href="#") Author Link
                    a.card-link(href="#") Delete Link(only Admin)
                div.card-footer.text-muted creation time displayed here
                