extends layout 

block content

    div.row.justify-content-center
        div.col-md-5.border-bottom.border-top.border-primary.pt-4.mt-2.mb-2.pb-4
            h2.text-center #{title}
            form(action="", method="post")
                div.form-group
                    label(for="first_name") First Name : 
                    input#first_name.form-control(type="text", name="first_name" placeholder="First name" required="true" value=(undefined===user ? "" : user.first_name))
                div.form-group
                    label(for="family_name") Family Name : 
                    input#family_name.form-control(type="text", name="family_name" placeholder="family or last name" required="true" value=(undefined===user ? "" : user.family_name))
                div.form-group
                    label(for="username") Username : 
                    input#username.form-control(type="text", name="username" placehoder="Choose a username" required="true" value=(undefined===user ? "" : user.username))
                    if message
                        small.form-text.text-muted #{message}
                div.form-group
                    label(for="password") Password : 
                    input#password.form-control(type="password", name="password" placehoder="Create a password" required="true" value="")
                div.form-group
                    label(for="passwordConfirmation") Confirm Password : 
                    input#passwordConfirmation.form-control(type="password", name="passwordConfirmation" placehoder="Confirm password" required="true" value="")
                div.form-group
                    label(for="memberPassword") Are you a member(Optional) : 
                    input#memberPassword.form-control(type="password", name="memberPassword" placehoder="Enter member password..")
                div.form-group
                    label(for="adminPassword") Are you an Admin(Optional) : 
                    input#adminPassword.form-control(type="password", name="adminPassword" placehoder="Enter Admin password... ")
                button.btn.btn-primary.btn-block(type="submit") Sign Up!
            if errors
                each error in errors
                    p= error.msg
